* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 550px;
    background-color: lightblue;
    margin: 10px auto;
    padding: 30px;
}

input {
    display: block;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.message {
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.success {
    background-color: #8af48a;
    border: 1px solid #009900;
    color: #009900;
}

.error {
    background-color: #f48a8a;
    border: 1px solid #990000;
}

.warning {
    background-color: #f4ef8a;
    border: 1px solid #996100;
}